<a href="https://colab.research.google.com/github/kanchandhole/Data-Types-and-Structures/blob/main/Data_Structures_Advance.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**1.**Write a code to reverse a string?

In [ ]:
a="kanchan"

In [ ]:
a[::-1]

'nahcnak'

**2.**Write a code to count the number of vowels in a string?

In [ ]:
Vowel = {"a","e","i","o","u"}
name = "kanchan"
count = 0
for char in name:
  if char in Vowel:
    count += 1
print(count)

2

**3.**Write a code to check if a given string is a palindrome or not?

In [ ]:
str= "level".lower()
if str == str[::-1]:
  print("palindrome")
else:
  print("not palindrome")

palindrome

**4.**Write a code to check if two given strings are anagrams of each other?

In [ ]:
str1= "listen"
str2= "silent"
if sorted(str1) == sorted(str2):
  print("anagram")
else:
  print("not anagram")

anagram

**5.**Write a code to find all occurrences of a given substring within another string.

In [ ]:
main_string = "This is a test string with test as substring."
substring = "test"
occurrences = []
start = 0
while True:
  start = main_string.find(substring, start)
  if start == -1:
    break
  occurrences.append(start)
  start += len(substring)
print(occurrences)

[10, 27]

**6.**Write a code to perform basic string compression using the counts of repeated characters?

In [ ]:
word = "programing"
chara = "g"
count = 0
for i in word:
  if i == chara:
    count += 1
print(count)

2

**7.**Write a code to determine if a string has all unique characters.

In [ ]:
input_string = "abcdefg"
seen_characters = set()
all_unique = True
for char in input_string:
    if char in seen_characters:
        all_unique = False
        break
    seen_characters.add(char)
if all_unique:
    print("The string has all unique characters.")
else:
    print("The string has duplicate characters.")

The string has all unique characters.

**8.**Write a code to convert a given string to uppercase or lowercase.

In [ ]:
Str= "kanchan"
print(str.lower())
print(str.upper())

kanchan
KANCHAN

**9.**Write a code to count the number of words in a string.

In [ ]:
str= "this is example"
s=len(str)
print("The Number Word In A String:",s)

The Number Word In A String: 15

**10.**Write a code to concatenate two strings without using the + operator.

In [ ]:
string1 = "Hello"
string2 = "World"
concatenated_string = ''.join([string1, string2])
print("Concatenated string:", concatenated_string)

Concatenated string: HelloWorld

**11.** Write a code to remove all occurrences of a specific element from a list.

In [ ]:
lis = [1,2,3,2,6,2,4,2]

In [ ]:
lis.remove(2)
print(lis)

[1, 3, 6, 4]

12.Implement a code to find the second largest number in a given list of integers.

In [ ]:
num_lis = [10, 20, 4, 45, 99]
num_lis.sort()
print("Second largest element is:", num_lis[-2])

Second largest element is: 45

**13.**Create a code to count the occurrences of each element in a list and return a dictionary with elements as
keys and their counts as values

In [ ]:
my_lis = [1, 2, 3, 4,5,6,7]
count_dict = {}
for element in my_lis:
    if element in count_dict:
        count_dict[element] += 1
    else:
        count_dict[element] = 1
print(count_dict)

{1: 1, 2: 1, 3: 1, 4: 1, 5: 1, 6: 1, 7: 1}

**14.**Write a code to reverse a list in-place without using any built-in reverse functions.

In [ ]:
num_lis = [10, 20, 4, 45, 99]
num_lis.reverse()
print(num_lis)

[99, 45, 4, 20, 10]

**15.**Implement a code to find and remove duplicates from a list while preserving the original order of
elements.

In [ ]:
my_lis1 = [1, 2, 3, 4, 2, 5, 2, 3, 1]
my_lis2 = []
for element in my_lis1:
    if element not in my_lis2:
        my_lis2.append(element)
print(my_lis2)

[1, 2, 3, 4, 5]

**16.**Create a code to check if a given list is sorted (either in ascending or descending order) or not.

In [ ]:
my_lis = [5,4,3,2,1]
ascending = True
descending = True
for i in range(1, len(my_lis)):
    if my_lis[i] < my_lis[i - 1]:
        ascending = False
    if my_lis[i] > my_lis[i - 1]:
        descending = False
if ascending:
    print("Ascending")
elif descending:
    print("Descending")
else:
    print("Not Sorted")

Descending

**17.**write a code to merge two sorted lists into a single sorted list

In [ ]:
lis3 = [1,2,3]
lis4 = [4,5,6]
lis3.extend(lis4)
print(lis3)

[1, 2, 3, 4, 5, 6]

**18.**Implement a code to find the intersection of two given lists

In [ ]:
s5=[1,2,3,4]
s6=[2,3,4,5]
s10 = list(set(s5) & set(s6))
print(s10)

[2, 3, 4]

**19.**Create a code to find the union of two lists without duplicates

In [ ]:
s5=[1,2,3,4]
s6=[2,3,4,5]
s10 = list(set(s5) | set(s6))
print(s10)

[1, 2, 3, 4, 5]

**20.**Write a code to shuffle a given list randomly without using any built-in shuffle functions

In [ ]:
import random

# Sample list to shuffle
my_list = [1, 2, 3, 4, 5]

# Get the length of the list
n = len(my_list)

# Perform the Fisher-Yates shuffle
for i in range(n - 1, 0, -1):
    # Generate a random index from 0 to i
    j = random.randint(0, i)

    # Swap the elements at index i and j
    my_list[i], my_list[j] = my_list[j], my_list[i]

# Print the shuffled list
print(my_list)

[4, 2, 3, 1, 5]

**21.**Write a code that takes two tuples as input and returns a new tuple containing elements that are
common to both input tuples

In [ ]:
t1 = (1, 2, 3, 4, 5)
t2 = (4, 5, 6, 7, 8)
common_elements = tuple(set(t1) & set(t2))
print(common_elements)

(4, 5)

**22.**Create a code that prompts the user to enter two sets of integers separated by commas. Then, print the
intersection of these two sets

In [ ]:
set1_input = input("Enter the first set of integers, separated by commas: ")
set2_input = input("Enter the second set of integers, separated by commas: ")
set1 = {int(x) for x in set1_input.split(',')}
set2 = {int(x) for x in set2_input.split(',')}
intersection = set1 & set2
print("The intersection of the two sets is:", intersection)

Enter the first set of integers, separated by commas: 1,2,3,4,5
Enter the second set of integers, separated by commas: 6,7,8,9,1
The intersection of the two sets is: {1}

**23.**Write a code to concatenate two tuples. The function should take two tuples as input and return a new
tuple containing elements from both input tuples.

In [ ]:

t1=(1,2,3)
t2=(4,5,6)
t3 = t1+t2
print(t3)

(1, 2, 3, 4, 5, 6)

**24.**Develop a code that prompts the user to input two sets of strings. Then, print the elements that are
present in the first set but not in the second set.

In [ ]:
set1_input = set(input("Enter the first set of strings (separate by space): ").split())
set2_input= set(input("Enter the second set of strings (separate by space): ").split())
difference = set1_input - set2_input
print("Elements in the first set but not in the second set:", difference)

Enter the first set of strings (separate by space): 1,2,3,4
Enter the second set of strings (separate by space): 1,2,4,6,8
Elements in the first set but not in the second set: {'1,2,3,4'}

**25**.Create a code that takes a tuple and two integers as input. The function should return a new tuple
containing elements from the original tuple within the specified range of indices.

In [ ]:
original_tuple = tuple(input("Enter the tuple elements (separate by space): ").split())
start_index = int(input("Enter the start index: "))
end_index = int(input("Enter the end index: "))
new_tuple = original_tuple[start_index:end_index+1]
print("New tuple with elements within the specified range:", new_tuple)

Enter the tuple elements (separate by space): 1,2,3,4
Enter the start index: 0
Enter the end index: 2
New tuple with elements within the specified range: ('1,2,3,4',)

**26.**Write a code that prompts the user to input two sets of characters. Then, print the union of these two sets.

In [ ]:
set1=input("enter first characters:")
set2=input("enter second characters:")
set1=set(set1)
set2=set(set2)
union=set1.union(set2)
print(union)

enter first characters:abcd
enter second characters:efgh
{'b', 'h', 'd', 'g', 'f', 'e', 'a', 'c'}

**27.**Develop a code that takes a tuple of integers as input. The function should return the maximum and
minimum values from the tuple using tuple unpacking.

In [ ]:
input_str = input("Enter a tuple of integers: ")

input_tuple = tuple(int(x) for x in input_str.split(','))

max_value, min_value = max(input_tuple), min(input_tuple)

print(f"The maximum value is: {max_value}")
print(f"The minimum value is: {min_value}")

Enter a tuple of integers: 1,30,5,40,35
The maximum value is: 40
The minimum value is: 1

**28.**Create a code that defines two sets of integers. Then, print the union, intersection, and difference of these
two sets.

In [ ]:
s1={1,2,3,4}
s2={3,4,5,6}
print(s1.union(s2))
print(s1.intersection(s2))
print(s1.difference(s2))

{1, 2, 3, 4, 5, 6}
{3, 4}
{1, 2}

**29.**Write a code that takes a tuple and an element as input. The function should return the count of
occurrences of the given element in the tuple.

In [ ]:
input_str = input("Enter a tuple of integers: ")
input_tuple = tuple(int(x) for x in input_str.split(','))
element = int(input("Enter the element to count: "))
count = 0
for item in input_tuple:
    if item == element:
        count += 1
print(f"The element {element} appears {count} time(s) in the tuple.")

Enter a tuple of integers: 1,2,4,5,6
Enter the element to count: 2
The element 2 appears 1 time(s) in the tuple.

**30.**Develop a code that prompts the user to input two sets of strings. Then, print the symmetric difference of
these two sets.

In [ ]:
s1 = {1,2,3,4}
s2 = {1,3,4,5}
s3 = s1 ^ s2
print(s3)

{2, 5}

**31**.Write a code that takes a list of words as input and returns a dictionary where the keys are unique words
and the values are the frequencies of those words in the input list.

In [ ]:
students= ["riya","priya","neha"]
marks = ["80","90","70"]
students_mark={}
{student:marks for student, marks in zip(students,marks)}

{'riya': '80', 'priya': '90', 'neha': '70'}

**32.**Write a code that takes two dictionaries as input and merges them into a single dictionary. If there are
common keys, the values should be added together.

In [ ]:
di1 = {"riya": "80", "priya": "90", "neha": "70"}
di2 = {"pooja": "90"}
merge_dic = {**di1, **di2}
print(merge_dic)

{'riya': '80', 'priya': '90', 'neha': '70', 'pooja': '90'}

**33.**Write a code to access a value in a nested dictionary. The function should take the dictionary and a list of
keys as input, and return the corresponding value. If any of the keys do not exist in the dictionary, the
function should return None.

In [7]:
nested_dict = {
    'user1': {
        'name': 'Alice',
        'age': 30,
        'address': {
            'street': '123 Main St',
            'city': 'Wonderland',
            'zip': '12345'
        }
    },
    'user2': {
        'name': 'Bob',
        'age': 25,
        'address': {
            'street': '456 Elm St',
            'city': 'Fantasyland',
            'zip': '67890'
        }
    }
}
for key in nested_dict.keys():
  if key in nested_dict:
    nested_dict[key]
  else:
    print("None")

In [4]:
nested_dict["user1"]

{'name': 'Alice',
 'age': 30,
 'address': {'street': '123 Main St', 'city': 'Wonderland', 'zip': '12345'}}

In [9]:
nested_dict["user2"]

{'name': 'Bob',
 'age': 25,
 'address': {'street': '456 Elm St', 'city': 'Fantasyland', 'zip': '67890'}}

**34.**Write a code that takes a dictionary as input and returns a sorted version of it based on the values. You
can choose whether to sort in ascending or descending order&

In [11]:
import operator

my_dict = {'a': 3, 'b': 1, 'c': 2, 'd': 4}

sorted_dict_asc = dict(sorted(my_dict.items(), key=operator.itemgetter(1)))

print("Sorted in ascending order:", sorted_dict_asc)

sorted_dict_desc = dict(sorted(my_dict.items(), key=operator.itemgetter(1), reverse=True))
print("Sorted in descending order:", sorted_dict_desc)

Sorted in ascending order: {'b': 1, 'c': 2, 'a': 3, 'd': 4}
Sorted in descending order: {'d': 4, 'a': 3, 'c': 2, 'b': 1}

**35.**Write a code that inverts a dictionary, swapping keys and values. Ensure that the inverted dictionary
correctly handles cases where multiple keys have the same value by storing the keys as a list in the
inverted dictionary

In [12]:
my_dict = {'a': 3, 'b': 1, 'c': 2, 'd': 3, 'e': 1}

inverted_dict = {}

for key, value in my_dict.items():
    if value not in inverted_dict:
        inverted_dict[value] = [key]
    else:
        inverted_dict[value].append(key)
print(inverted_dict)

{3: ['a', 'd'], 1: ['b', 'e'], 2: ['c']}