<a href="https://colab.research.google.com/github/kanchandhole/Python-assignment/blob/main/Function_prac_assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**1.**Write a Python function that takes a list of numbers as input and returns the sum of all even numbers in
the list.

In [ ]:
def sum_even_nu(even):
  total = 0
  for i in even:
    if i % 2 == 0:
      total += i
  return total

In [ ]:
sum_even_nu([1,2,3,4,5,6,7,8])

20

**2.**Create a Python function that accepts a string and returns the reverse of that string

In [ ]:
def rever_string(s):
  return s[::-1]

In [ ]:
rever_string("KANCHAN")

'NAHCNAK'

**3.**Implement a Python function that takes a list of integers and returns a new list containing the squares of
each number.

In [ ]:
def square_li(k):
  return [i**2 for i in k]

In [ ]:
square_li([1,2,3,4,5])

[1, 4, 9, 16, 25]

**4.**Write a Python function that checks if a given number is prime or not from 1 to 200.

In [ ]:
def prime_num(n):
 if n > 1:
  for i in range(2, int(n//2) + 1):
    if n % i == 0:
      return False
  return True

In [ ]:
prime_num(2)

True

In [ ]:
prime_num(3)

True

In [ ]:
prime_num(8)

False

**5.**Create an iterator class in Python that generates the Fibonacci sequence up to a specified number of
terms.

In [ ]:
def fabonacci(n):
  a,b = 0,1
  for i in range(n):
    yield a
    a,b = b,a+b

In [ ]:
y = fabonacci(10)

In [ ]:
y

In [ ]:
next(y)

0

In [ ]:
next(y)

1

In [ ]:
next(y)

1

** 6.**Write a generator function in Python that yields the powers of 2 up to a given exponent.

In [ ]:
def power_of_two(n):
  for i in range(n+1):
    yield 2**i

In [ ]:
ex = power_of_two(10)

In [ ]:
ex

In [ ]:
next(ex)

1

In [ ]:
next(ex)

2

In [ ]:
next(ex)

4

In [ ]:
next(ex)

8

**7.**Implement a generator function that reads a file line by line and yields each line as a string

In [1]:
def read_file_line_by_line(file_path):
    with open(file_path, 'r') as file:
        for line in file:
            yield line.strip()

In [3]:
file_path = 'Function prac assignment.ipynb'
ge = read_file_line_by_line(file_path)

In [6]:
ge

**8.**Use a lambda function in Python to sort a list of tuples based on the second element of each tuple.

In [7]:
words = ["Python", "DataScience", "JS",
"MachineLearning"]
sorted_words = sorted(words, key=lambda word: len(word))

In [8]:
print(sorted_words)

['JS', 'Python', 'DataScience', 'MachineLearning']

**9.**Write a Python program that uses `map()` to convert a list of temperatures from Celsius to Fahrenheit.

In [10]:
def celsius_to_fahrenheit(celsius):
    return (celsius * 9/5) + 32
    celsius_temperatures = [0, 20, 30, 40, 100]
    fahrenheit_temperatures = list(map(celsius_to_fahrenheit, celsius_temperatures))
    print("Celsius temperatures:", celsius_temperatures)
    print("Fahrenheit temperatures:", fahrenheit_temperatures)

In [11]:
celsius_to_fahrenheit(30)

86.0

**10.**Create a Python program that uses `filter()` to remove all the vowels from a given string.

In [1]:
def remove_vowels(input_string):
    # Define vowels
    vowels = 'aeiouAEIOU'
    # Use filter and lambda to remove vowels
    result = ''.join(filter(lambda char: char not in vowels, input_string))
    return result

In [2]:
input_string = "Hello, World!"
output_string = remove_vowels(input_string)
print("Original String:", input_string)
print("String without vowels:", output_string)

Original String: Hello, World!
String without vowels: Hll, Wrld!

**11.**Imagine an accounting routine used in a book shop. It works on a list with sublists, which look like this:







Write a Python program, which returns a list with 2-tuples. Each tuple consists of the order number and the
product of the price per item and the quantity. The product should be increased by 10,- € if the value of the
order is smaller than 100,00 €.

Write a Python program using lambda and map.

In [13]:
def calculate_order_value(orders):
    # Create a function to calculate the order value
    def calculate_order(order):
        order_number, price_per_item,quantity = order
        total_value = price_per_item * quantity
        # If the total value is less than 100, add 10 €
        if total_value < 100:
            total_value += 10
        return(order_number,total_value)

    # Use map and lambda to apply calculate_order to each order in the list
    return list(map(lambda order: calculate_order(order), orders))

# Example orders list (order_number, price_per_item, quantity)
orders = [
    (34587, 40.95, 4),
    (98762, 56.80, 5),
    (77226,32.95, 3),
    (88112,24.99, 3),
]

# Get the list of 2-tuples with order number and final price
result = calculate_order_value(orders)

# Print the result
print(result)

[(34587, 163.8), (98762, 284.0), (77226, 108.85000000000001), (88112, 84.97)]