<a href="https://colab.research.google.com/github/kanchandhole/Python-assignment/blob/main/Numpy_practical_assig.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**1.**Create a 3x3 NumPy array with random integers between 1 and 100. Then, interchange its rows and columns.

In [39]:
import numpy as np

In [3]:
import random

In [4]:
ra = np.random.randint(1,100,(3,3))

In [5]:
ra

array([[10, 55,  1],
       [31, 18, 67],
       [58, 55, 74]])

In [6]:
ra.T

array([[10, 31, 58],
       [55, 18, 55],
       [ 1, 67, 74]])

**2.**Generate a 1D NumPy array with 10 elements. Reshape it into a 2x5 array, then into a 5x2 array.

In [7]:
d1 = np.random.randint(1,10, 10)

In [8]:
d1

array([1, 1, 8, 2, 2, 9, 2, 8, 3, 7])

In [10]:
d1.reshape(2,5)

array([[1, 1, 8, 2, 2],
       [9, 2, 8, 3, 7]])

In [11]:
d1.reshape(5,2)

array([[1, 1],
       [8, 2],
       [2, 9],
       [2, 8],
       [3, 7]])

**3.**Create a 4x4 NumPy array with random float values. Add a border of zeros around it, resulting in a 6x6 array.

In [24]:
z = np.ones((4,4))

In [25]:
z

array([[1., 1., 1., 1.],
       [1., 1., 1., 1.],
       [1., 1., 1., 1.],
       [1., 1., 1., 1.]])

In [26]:
z = np.pad(z, pad_width=1, mode='constant', constant_values=0) # constructing border of 0 around 4D identity matrix # using np.pad()

In [27]:
z

array([[0., 0., 0., 0., 0., 0.],
       [0., 1., 1., 1., 1., 0.],
       [0., 1., 1., 1., 1., 0.],
       [0., 1., 1., 1., 1., 0.],
       [0., 1., 1., 1., 1., 0.],
       [0., 0., 0., 0., 0., 0.]])

**4.**Using NumPy, create an array of integers from 10 to 60 with a step of 5.

In [28]:
 step = np.arange(10,60,5)

In [29]:
step

array([10, 15, 20, 25, 30, 35, 40, 45, 50, 55])

**5.**Create a NumPy array of strings ['python', 'numpy', 'pandas']. Apply different case transformations
(uppercase, lowercase, title case, etc.) to each element.

In [30]:
s = np.array(['python', 'numpy', 'pandas'])

In [32]:
np.char.upper(s)

array(['PYTHON', 'NUMPY', 'PANDAS'], dtype='<U6')

In [33]:
np.char.lower(s)

array(['python', 'numpy', 'pandas'], dtype='<U6')

In [35]:
np.char.capitalize(s)

array(['Python', 'Numpy', 'Pandas'], dtype='<U6')

**6.**Generate a NumPy array of words. Insert a space between each character of every word in the array.

In [36]:
s

array(['python', 'numpy', 'pandas'], dtype='<U6')

In [49]:
s2 = np.char.split(s)

In [53]:
r = np.char.join(", ", s)

In [54]:
r

array(['p, y, t, h, o, n', 'n, u, m, p, y', 'p, a, n, d, a, s'],
      dtype='<U16')

In [55]:
name = "kanchan"

In [56]:
name1 = np.char.join(", ", name)

In [57]:
name1

array('k, a, n, c, h, a, n', dtype='<U19')

**7.**Create two 2D NumPy arrays and perform element-wise addition, subtraction, multiplication, and division

In [60]:
sd = np.random.randint(2,3,(2,2))

In [61]:
sd

array([[2, 2],
       [2, 2]])

In [62]:
sd1 = np.random.randint(1,3,(2,2))

In [63]:
sd1

array([[2, 1],
       [1, 2]])

In [64]:
np.subtract(sd,sd1)

array([[0, 1],
       [1, 0]])

In [65]:
np.add(sd,sd1)

array([[4, 3],
       [3, 4]])

In [66]:
np.multiply(sd,sd1)

array([[4, 2],
       [2, 4]])

In [67]:
np.divide(sd,sd1)

array([[1., 2.],
       [2., 1.]])

**8.**Use NumPy to create a 5x5 identity matrix, then extract its diagonal elements.

In [85]:
mt  = np.random.randint(1,3,(5,5))

In [86]:
mt

array([[2, 1, 1, 2, 2],
       [2, 2, 2, 1, 1],
       [1, 1, 2, 2, 1],
       [1, 1, 1, 1, 2],
       [2, 1, 1, 2, 1]])

In [87]:
mt.diagonal()

array([2, 2, 2, 1, 1])

**9.**Generate a NumPy array of 100 random integers between 0 and 1000. Find and display all prime numbers in
this array.

In [93]:
import math

In [94]:
pri = np.random.randint(0,1000,100)

In [95]:
pri

array([121, 391, 867, 328, 626, 193,  41, 505, 573, 314, 942, 254, 335,
       584, 993, 396, 669, 632, 614, 950, 793, 838, 841, 739, 615,  87,
       665, 506, 670, 996, 808, 779, 392, 307, 276, 352, 389, 324, 111,
       245, 632, 254, 105, 901,  54,  69, 685, 781, 927, 279, 299, 593,
       145, 447, 295, 114, 994, 839, 511, 904, 854, 950, 502, 117, 390,
       167,  87, 342, 260, 416, 926, 792, 841, 207, 916, 911, 631, 179,
       336, 608, 490, 906, 308, 522, 557, 107, 863, 891,  15, 962, 336,
       352, 107, 765, 221, 222, 204, 771, 960, 512])

In [102]:
def is_prime(n):
    if n % 2 == 0 and n > 2:
        return False
    return all(n % i for i in range(3, int(math.sqrt(n)) + 1, 2))

In [103]:
foo = np.vectorize(is_prime)
pbools = foo(pri)
primes = np.extract(pbools, pri)

In [105]:
primes

array([193,  41, 739, 307, 389, 593, 839, 167, 911, 631, 179, 557, 107,
       863, 107])

**10.**Create a NumPy array representing daily temperatures for a month. Calculate and display the weekly
averages.

In [123]:
tem = np.random.randint(10,40,30)

In [124]:
tem

array([19, 39, 15, 21, 21, 31, 22, 17, 37, 22, 12, 37, 25, 10, 24, 20, 30,
       37, 38, 32, 36, 28, 13, 39, 17, 30, 19, 22, 16, 10])

In [128]:
np.average(tem)

24.633333333333333