<a href="https://colab.research.google.com/github/kanchandhole/Data-Types-and-Structures/blob/main/Practical_Qu.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**1.**Write a code to create a string with your name and print it?

In [ ]:
print("kanchan")

kanchan

**2.**Write a code to find the length of the string "Hello World"?

In [ ]:
S="Hello World"
print(len(S))

11

**3.**Write a code to slice the first 3 characters from the string "Python Programming".

In [ ]:
P="Python Programming"
print(P[0:3])

Pyt

**4.**Write a code to convert the string "hello" to uppercase?

In [ ]:
H="hello"
x= H.upper()
print(x)

HELLO

**6.**Write a code to replace the word "apple" with "orange" in the string "I like apple"?

In [ ]:
y= "i like apple"

In [ ]:
text= y.replace("apple","orange")
print(text)

i like orange

**7.**Write a code to create a list with numbers 1 to 5 and print it.

In [ ]:
n=5
for i in range(1,n+1):
  print(i)

1
2
3
4
5

**8.**Write a code to append the number 10 to the list [1, 2, 3, 4]?

In [ ]:
list=[1,2,3,4]
list.append(10)
print(list)

[1, 2, 3, 4, 10]

**9.**Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]?

In [ ]:
list1=[1,2,3,4,5]
list1.remove(3)
print(list1)

[1, 2, 4, 5]

**10.**Write a code to access the second element in the list ['a', 'b', 'c', 'd']?

In [ ]:
list=["a","b","c","d"]

In [ ]:
list[2]

'c'

**11.**Write a code to reverse the list [10, 20, 30, 40, 50].

In [ ]:
list=[10,20,30,40,50]

In [ ]:
d=list[::-1]
print(d)

[50, 40, 30, 20, 10]

**12.**Write a code to access the first element of the tuple ('apple', 'banana', 'cherry')

In [ ]:
T=["apple","banana","cherry"]

In [ ]:
T[0]

'apple'

**13**.Write a code to count how many times the number 2 appears in the tuple (1, 2, 3, 2, 4, 2).

In [ ]:
num=[1,2,3,2,4,2]

In [ ]:
num.count(2)

3

**14.**Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

In [ ]:
T1=["dog","cat","rabbit"]

In [ ]:
T1.index("cat")

1

**15.**Write a code to check if the element "banana" is in the tuple ('apple', 'orange', 'banana').

In [ ]:
T2=["apple","orange","banana"]
if "banana" in T2:
  print("banana is in the tuple")
else:
  print("banana is not in the tuple")

banana is in the tuple

**16**.Write a code to create a set with the elements 1, 2, 3, 4, 5 and print it.

In [ ]:
S={1,2,3,4,5}
print(S)

{1, 2, 3, 4, 5}

**17.**Write a code to add the element 6 to the set {1, 2, 3, 4}.

In [ ]:
S2={1,2,3,4}

In [ ]:
S2.add(6)
print(S2)

{1, 2, 3, 4, 6}

**18.**Write a code to create a tuple with the elements 10, 20, 30 and print it.

In [ ]:
T3=[10,20,30]
print(T3)

[10, 20, 30]

**19**.Write a code to access the first element of the tuple ('apple', 'banana', 'cherry').

In [ ]:
T=["apple","banana","cherry"]

In [ ]:
T[0]

'apple'

**20.**Write a code to count how many times the number 2 appears in the tuple (1, 2, 3, 2, 4, 2).

In [ ]:
num=[1,2,3,2,4,2]

In [ ]:
num.count(2)

3

**21**.Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit')

In [ ]:
T1=["dog","cat","rabbit"]
T1.index("cat")

1

**22.**Write a code to check if the element "banana" is in the tuple ('apple', 'orange', 'banana').

In [ ]:
T2=["apple","orange","banana"]
if "banana" in T2:
  print("banana is in the tuple")
else:
  print("banana is not in the tuple")

banana is in the tuple

**23**.Write a code to create a set with the elements 1, 2, 3, 4, 5 and print it

In [ ]:
s4={1,2,3,4,5}
print(s4)

{1, 2, 3, 4, 5}

**24**.Write a code to add the element 6 to the set {1, 2, 3, 4}.

In [ ]:
s5={1,2,3,4}

In [ ]:
s5.add(6)
print(s5)

{1, 2, 3, 4, 6}